body{
	font-family: Arial;
	background-color: #f1f1f1;
}

*{
	box-sizing: border-box;
}

header{
	background-color: #ffffff;
	padding: 30px;
}

header h1{
	text-align: center;
	font-size: 60px;
	color: #000000;
	margin: 1.5 0px;
}

h2{
	color: #000000;
	margin: 1.5 0px;
}

.left-column{
	float: left;
	width: 75%;
}

.right-column{
	width:25%;
	float: right;
	padding-left: 20px;
}

.card{
	padding: 20px;
	background-color: #ffffff;
	margin-top: 20px;
}

.card img{
	width: 100%
}

.right-column .card img{
	margin-bottom: 10px;
}

/*----------------social media--------------*/

.social-menu {
    font-size: 50px;
    padding-top: 5px;
}

.social{
	color: #F3F3F5;
	margin: 10px;

}

.social:hover{
	color: #3b5998;
}

.social1{
	color: #fff;
	margin: 10px;
}

.social1:hover{
	color:  #00acee;
}

.social2{
	color: #fff;
	margin: 10px;
}

.social2:hover{
	color: #e4405f;
}

.social3{
	color: #fff;
	margin: 10px;
}

.social3:hover{
	color: #FF0000;
}

.text{
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

/*.social-menu ul{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
}
.social-menu ul li{
	list-style: none;
	margin: 0 15px;
}

.social-menu ul li .fa {
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: #000;

}
.social-menu ul li .fa:hover {
	background-color: #ffffff;
}
.social-menu ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
	transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
	background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
	background-color: #55acee;
}*/