.title{
	font-family: Arial;
	font-style: oblique;
	color: #000000;


}

.exercise{
	font-size: 22px;
	font-family: Times New Roman;
	text-align: justify;


}

.modal-body
{

    background-color: #000000;
}